target/
!**/src/main/**/target/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar

*.iws
*.iml
*.ipr
.idea/libraries/
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml

.project
.settings
.classpath
.sts4-cache
.factorypath
.springBeans
.apt_generated

build/
/dist/
/nbdist/
/nbbuild/
/.nb-gradle/
/nbproject/private/
!**/src/main/**/build/
!**/src/test/**/build/

.vscode/
.DS_Store
